[package]
name = "aplite_layout"
version = "0.1.0"
edition.workspace = true
authors.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]
aplite_storage.workspace = true
aplite_types.workspace = true
